<!--form-->
<h2>Simple Form</h2>
<form>
  <div class="personal-information">
    <h4>Personal Information</h4>
    <table width="100%">
      <!--one row complete-->
      <tr>
        <td>First Name </td>
        <td>
          <input type="text" size="25px">
        </td>

        <td>Middle Name </td>
        <td>
          <input type="text" size="25px">
        </td>

        <td>Last Name </td>
        <td>
          <input type="text" size="25px">
        </td>
      </tr>

      <!--parent's row-->
      <tr>
        <td>Father's Name </td>
        <td>
          <input type="text" size="25px">
        </td>

        <td>Mother's Name </td>
        <td>
          <input type="text" size="25px">
        </td>
      </tr>

      <!--current address-->
      <tr>
        <td> Current Address </td>
        <td>
          <textarea type="text" rows="5px" cols="25px"></textarea>
        </td>

        <td>Permanent Address </td>
        <td>
          <textarea type="text" rows="5px" cols="25px"></textarea>
        </td>
      </tr>

          <!--one row complete-->
          <tr>
            <td>Home Phone </td>
            <td>
              <input type="text" size="25px">
            </td>

            <td>Mobile Number </td>
            <td>
              <input type="text" size="25px">
            </td>
          </tr>

          <!--date-of-birth-->
          <tr>
            <td>Data of Birth </td>
            <td>
              <input type="date" size="25px">
            </td>

            <td>Place of Birth </td>
            <td>
              <input type="text" size="25px">
            </td>
          </tr>
          <tr>
            <td>Select Gender </td>
            <td>
              <input type="radio" name="gender" value="male" size="25px">Male
            </td>
            <td>
              <input type="radio" name="gender" value="female" size="25px">Female
            </td>
          </tr>

          <!--current address-->
          <tr>
            <td> Current Address </td>
            <td>
              <textarea type="text" rows="5px" cols="25px"></textarea>
            </td>

            <td>Permanent Address </td>
            <td>
              <textarea type="text" rows="5px" cols="25px"></textarea>
            </td>
          </tr>

          <tr>
            <td>Hight Qualification</td>
            <td>
              <input type="text" size="25px">
            </td>
            <td>Year's of Passing </td>
            <td>
              <input type="month" size="25px">
            </td>
            </tr>

            <tr>
               <td>Language known</td>
               <td>
                 <input type="radio" name="language" value="English">English
               </td>
               <td>
                <input type="radio" name="language" value="Hindi">Hindi
              </td>
              <td>
                <input type="radio" name="language" value="Spanish">Spanish
              </td>
              <td>
                <input type="radio" name="language" value="United State">United State
              </td>
            </tr>
            <!--select yours hobes-->
            <tr>
              <td>Language known</td>
              <td>
                <input type="radio" name="hobies--" value="Listening">Listening
              </td>
              <td>
               <input type="radio" name="hobies--" value="Playing">Playing
             </td>
             <td>
               <input type="radio" name="hobies--" value="Reading">Reading
             </td>
             <td>
               <input type="radio" name="hobies--" value="Dancing">Dancing
             </td>
           </tr>

           <!--about your self-->
           <tr>
             <td>About Yourself</td>
             <td>
               <textarea type="text"  row="5px" cols="25px"></textarea>
             </td>
           </tr>

           <tr>
             <td>Nationality</td>
             <td>
               <select>
                 <option>Indian</option>
                 <option>American</option>
                 <option>China</option>
                 <option>Spanish</option>
               </select>
             </td>
           </tr>
    </table>
<!--personal information finished-->



  </div>

  <!--Education details-->
  <div class="education-details">
      <h4>Education-Details</h4>
      <table width="100%">
          <tr>
            <td>S.No.</td>
            <td>Qualification</td>
            <td>Collage/University</td>
            <td>Years of passing</td>
            <td>Marks ( % )</td>
          </tr>

          <td>1.</td>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>

          <tr>
          <td>2.</td>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>
</tr>

<tr>
          <td>3.</td>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>
</tr>
<tr>
          <td>4.</td>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>
        </tr>

        <tr>
          <td>5.</td>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>
        </tr>
      </table>
  </div>

  <!--work-experience-->
  <div class="work-experience">
     <h4>Work-Experience</h4>
     <div>
       <table width="100%">
          <tr>
            <td>S.No.</td>
            <td>Company Address</td>
            <td>Work/Roles</td>
            <td>Experience/fresher</td>
          </tr>
          <tr>
            <td>1.</td>
            <td>
              <textarea type="text" rows="5px" cols="20px"></textarea>
            </td>


            <td>
              <textarea type="text" rows="5px" cols="20px"></textarea>
            </td>



            <td>
              <textarea type="text" rows="5px" cols="20px"></textarea>
            </td>
          </tr>
       </table>
     </div>
  </div>

  <!--other-details-->
  <div>
    <h4>Other-Details</h4>
    <table width="100%">
        <tr>
          <td>Jon Type</td>
          <td>
            <input type="radio" name="input" value="permanent" >Permanent
          </td>

          <td>
            <input type="radio" name="input" value="current" >Current
          </td>

          <td>
            <input type="radio" name="input" value="other" >Other
          </td>
        </tr>
        <tr>
        <td>Date of Joining</td>
        <td>
          <input type="month" name="input" >
        </td>
        <tr>
    </table>
  </div>


</form>
