.h2 {
  background-color: cadetblue;
  text-align: center;
  color: black;


}
h4 {
  background-color: turquoise;
  text-align: center;
  color: black;
}


.personal-information tr td
{
  padding-top: 4px;
  padding-bottom: 4px;

}
/* education-details */
.education-details tr {
  text-align: center;

}
.education-details td {
  text-align: center;
}

/* work-experience */

.work-experience tr {
  text-align: center;

}
.work-experience td {
  text-align: center;
}


tr td {
  border-radius: 10px;
}
